<form class="my-form" name="myform" ng-submit="register()" novalidate>
	<h2>You can contact me here <span class="text-accent">
	{{user.firstname + "!"}}</span></h2>


	<input class="contact" type="email" name="email" placeholder="Email" ng-required="true"
		ng-model="user.email" autofocus>

	<p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched" >Please enter a valid email.</p>

    <textarea placeholder="Type Message here!"></textarea>

	<button type="submit" class="btn"
		ng-disabled="myform.$invalid">Email Me!</button>
</form>