<div class="projects">
	<div class="project">
		<a href="#/views/project/massage.html" class="finished one"></a>
        <a href="#"><div class="finished two"></div></a>
		<div class="finished three"></div>
		<div class="finished four"></div>
	</div>

	<div class="project">
		<div class="finished five"></div>
		<div class="finished five"></div>
		<div class="finished five"></div>
		<div class="finished five"></div>
	</div>

	<div class="project">
		<div class="finished five"></div>
		<div class="finished five"></div>
		<div class="finished five"></div>
		<div class="finished five"></div>
	</div>
</div>