
		<div class="skills">

			<div class="skill-unit">
				<div class="skill-label">Hello</div>
				<div class="skill-icon rating-19">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>

			<div class="skill-unit">
				<div class="skill-label">Hello2</div>
				<div class="skill-icon rating-19">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>

			<div class="skill-unit">
				<div class="skill-label">Hello3</div>
				<div class="skill-icon rating-19">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>

			<div class="skill-unit">
				<div class="skill-label">Hello4</div>
				<div class="skill-icon rating-19">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>

			<div class="skill-unit">
				<div class="skill-label">Hello5</div>
				<div class="skill-icon rating-19">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>

		</div>