<div class="projects">
	<div class="project">
		<a href="Work/chris.html"><div class="finished one"><p class="chris-text">Massage Therapist</p></div></a>
		<div class="finished two"></div>
		<div class="finished three"></div>
		<div class="finished four"></div>
	</div>

	<div class="project">
		<div class="current"></div>
		<div class="current"></div>
		<div class="current"></div>
		<div class="current"></div>
	</div>

	<div class="project">
		<div class="upcoming"></div>
		<div class="upcoming"></div>
		<div class="upcoming"></div>
		<div class="upcoming"></div>
	</div>
</div>